<div>
  <h1>Previsão de Preço</h1>
  
  <form (ngSubmit)="submitForm()">
    <div>
      <label for="ticker">Ticker:</label>
      <input type="text" id="ticker" [(ngModel)]="ticker" name="ticker" required>
    </div>
    
    <div>
      <label for="period">Período:</label>
      <select id="period" [(ngModel)]="period" name="period" required>
        <option value="1d">1d</option>
        <option value="5d">5d</option>
        <option value="1mo">1mo</option>
        <option value="3mo">3mo</option>
        <option value="6mo">6mo</option>
        <option value="1y">1y</option>
        <option value="2y">2y</option>
        <option value="5y">5y</option>
        <option value="10y">10y</option>
        <option value="ytd">ytd</option>
        <option value="max">max</option>
      </select>
    </div>
    
    <div>
      <label for="interval">Intervalo:</label>
      <select id="interval" [(ngModel)]="interval" name="interval" required>
        <option value="1m">1m</option>
        <option value="2m">2m</option>
        <option value="5m">5m</option>
        <option value="15m">15m</option>
        <option value="30m">30m</option>
        <option value="60m">60m</option>
        <option value="90m">90m</option>
        <option value="1h">1h</option>
        <option value="1d">1d</option>
        <option value="5d">5d</option>
        <option value="1wk">1wk</option>
        <option value="1mo">1mo</option>
        <option value="3mo">3mo</option>
      </select>
    </div>
    
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
